<div class="container">
    <img src="../../../../../assets/images/tuffCollection02.jpg" alt="" height="600" width="400">
    <div class="description">
        <div class="date">
           <span> DATE:</span>  <p-calendar ></p-calendar>
        </div>
        <p-divider></p-divider>
        <div>
           <span> BRAND:</span> 
            <input type="text" pInputText />
        </div>
        <p-divider></p-divider>
        <div>
           <span> COLLECTION:</span>
            <input type="text" pInputText />
        </div>
        <p-divider></p-divider>
        <div>
           <span> SEASON:</span>
            <input type="text" pInputText />
        </div>
        <p-divider></p-divider>
        <div>
           <span> MODEL SIZE:</span>
            <input type="text" pInputText />
        </div>
        <p-divider></p-divider>
        <!-- <div>
           <span> STYLE NUMBER:</span>
            <input type="text" pInputText />
        </div>
        <p-divider></p-divider>
        <div>
           <span> SAMPLE SIZE:</span>
            <input type="text" pInputText />
        </div>
        <p-divider></p-divider>
        <div>
           <span> FABRIC WIDTH:</span>
            <input type="text" pInputText />
        </div>
        <p-divider></p-divider>
        <div>
           <span> MAR.YARDAGE</span>
            <input type="text" pInputText />
        </div>
        <p-divider></p-divider> -->
    </div>

</div>