<div class="size">
    <p-table [value]="productSize" [tableStyle]="{ 'max-width': '50px' }" class="column-oriented-p-table">
        <ng-template pTemplate="header">
            <tr>
                <th>SIZE</th>
                <th>1/2</th>
                <th>QTY</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.size }}</td>
                <td><input type="text" pInputText /></td>
                <td><input type="text" pInputText /></td>
            </tr>
        </ng-template>
    </p-table>
</div>