<div class="module-list">
    <a routerLink="/product">
        <p-card header="Porduct Management" >
            <p class="m-0">
                <span class="pi pi-box"></span>
            </p>
        </p-card>
    </a>

    
    <p-card header="Inventory Management">
        <p class="m-0">
            <span class="pi pi-database"></span>
        </p>
    </p-card>
    
    <p-card header="Order Management">
        <p class="m-0">
            <span class="pi pi-paperclip"></span>
        </p>
    </p-card>
    
    <p-card header="Customer Relationship Management">
        <p class="m-0">
            <span class="pi pi-user"></span>
        </p>
    </p-card>
</div>
