.module-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.header{
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pi{
    font-size: 80px;
    text-align: center;
    color: blueviolet;
}
p-card{
    cursor:pointer;
}