.product-item{
  border: 1px solid burlywood;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.more,.product-name{
    width: inherit;
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}