<div class="container">
    <div class="product-item">
        <div class="product-name">
            Back “V” Neck With Maxi Dress Permanent Pleat
        </div>
        <img src="../../../assets/images/tuffCollection02.jpg" alt="" height="400" >
        <div class="more">
            VIEW
        </div>
    </div>
    <div class="product-item">
        <img src="../../../assets/images/tuffCollection02.jpg" alt="" height="400" >
        <div class="more">
            VIEW
        </div>
    </div>
    <div class="product-item">
        <img src="../../../assets/images/tuffCollection02.jpg" alt="" height="400" >
        <div class="more">
            VIEW
        </div>
    </div>
    <div class="product-item">
        <img src="../../../assets/images/tuffCollection02.jpg" alt="" height="400" >
        <div class="more">
            VIEW
        </div>
    </div>
    <div class="product-item">
        <img src="../../../assets/images/tuffCollection02.jpg" alt="" height="400" >
        <div class="more">
            VIEW
        </div>
    </div>
    <div class="product-item">
        <img src="../../../assets/images/tuffCollection02.jpg" alt="" height="400" >
        <div class="more">
            VIEW
        </div>
    </div>
</div>
